# gcc coverage testing tool files
*.pyc

databundles.egg-info
dist
org.eclipse.core.resources.prefs
test/html
*.
*.
test/testbundle/build-save/source/dataset-subset-variation-ca0d-r1/hdf5.hdf5
test/testbundle/build-save/test-marker
test/testbundle/build-save
